{% extends "base.html" %}
{% block title %}认证信息-TCBS自动化运维平台{% endblock %}
{% block nav %}
    <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-dashboard"></i> 仪表盘</a></li>
    {% comment %}
    <li><a href="{% url 'asset_list' %}"><i class="glyphicon glyphicon-th-list"></i> 主机列表</a></li>
    <li><a href="{% url 'repair_data' %}"><i class="glyphicon glyphicon-repeat"></i> 数据修复</a></li>
    <li><a href="{% url 'record_list' %}"><i class="glyphicon glyphicon-floppy-disk"></i> 操作记录</a></li>
    {% endcomment %}
    <li><a href="{% url 'deploy' %}"><i class="glyphicon glyphicon-th-large"></i> SaltStack</a></li>
    <li class="active"><a href="{% url 'keys_show' %}"><i class="glyphicon glyphicon-tags"></i> MinionKeys<span class="sr-only">(current)</span></a></li>
    <li><a href="{% url 'navigation_list' %}"><i class="glyphicon glyphicon-list"></i> 页面导航</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-3">
                        <select class="form-control" id="select_col">
                            <option value="acp">已接受</option>
                            <option value="pre">待接受</option>
                            <option value="rej">已拒绝</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" id="select_dc">
                            <option value="DC_ALL">机房</option>
                            {% for en,cn in dc_dict.iteritems %}
                                <option value="{{ en }}">{{ cn }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" id="select_eg">
                            <option value="EG_ALL">维护人员</option>
                            {% for user, engi in engi_dict.iteritems %}
                                <option value="{{ user }}">{{ engi }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-sm btn-info" id="check_accept" onclick="getCheckValue('accept')"> 接受 </a>
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-sm btn-warning" id="check_reject" onclick="getCheckValue('reject')"> 拒绝 </a>
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-sm btn-danger" id="check_delete" onclick="getCheckValue('delete')"> 删除 </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9" id="tb_minion">
	    <!-- <table id="mytable" align="center"> -->
            <table id="mytable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="success">
                        <th class="text-center">
                            <label class="checkbox-inline">
                                <input id="checkall" type="checkbox" value="checkall" onclick="checkAll(checkall)">全选
                            </label>
                        </th>
                        <th class="text-center">Minion ID</th>
                        <th class="text-center">Minion IP</th>
                    </tr>
                </thead>
                    <tbody id="trtd">
                        {% if serv_list %}
                            {% for serv in serv_list %}
                                {% for ip,id in serv.iteritems %}
                                    <tr id="{{ id }}">
                                        <td class="text-center">
                                            <label>
                                                <input name="minion_id" type="checkbox" value="{{ id }}">
                                            </label>
                                        </td>
                                        <td class="text-center">{{ id }}</td>
                                        <td class="text-center">{{ ip }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
	<div class="col-sm-9">
            <!-- 分页展示 BEGIN -->
	    <a id="btn0"></a>
	    <input id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"/><a> 条 </a> <a href="#" id="pageSizeSet">设置</a> 
	    <a id="sjzl"></a> 
	    <a  href="#" id="btn1">首页</a>
	    <a  href="#" id="btn2">上一页</a>
	    <a  href="#" id="btn3">下一页</a>
	    <a  href="#" id="btn4">尾页</a> 
	    <a>转到 </a>
	    <input id="changePage" type="text" size="1" maxlength="4"/>
	    <a>页 </a>
	    <a  href="#" id="btn5">跳转</a>
            <!-- 分页展示 END -->
        </div>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(".form-control").change(function() {
                var col = $("#select_col").val();
                var dcen = $("#select_dc").val();
                var engi = $("#select_eg").val();
                var checkall_status = document.getElementById("checkall").checked;
                if (checkall_status === true) {
                    $("#checkall").attr("checked", false);
                }
                $("#trtd").html('<tr><td></td><td class="text-center"><img src="/static/img/dataloading.gif"/></td><td></td></tr>');
                $.getJSON("{% url 'keys_api' %}", {"col": col, "dcen": dcen, "engi": engi}, function(result) {
                    $("#trtd").html("");
                    $.each(result, function(index, value) {
                        $.each(value, function(ip, id) {
                            $("#trtd").append('\
                                <tr id="'+id+'">\
                                    <td class="text-center">\
                                        <label>\
                                            <input name="minion_id" type="checkbox" value="'+id+'">\
                                        </label>\
                                    </td>\
                                    <td class="text-center">'+id+'</td>\
                                    <td class="text-center">'+ip+'</td>\
                                </tr>\
                            ');
                        });
                    });
                });
            });
        });
    </script>
<script type="text/javascript">
            var pageSize = 10;    //每页显示的记录条数
             var curPage=0;        //当前页
             var lastPage;        //最后页
             var direct=0;        //方向
            var len;            //总行数
            var page;            //总页数
            var begin;
            var end;

               
            $(document).ready(function display(){  
                len =$("#mytable tr").length - 1;    // 求这个表的总行数，剔除第一行介绍
                page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
                // alert("page==="+page);
                curPage=1;    // 设置当前为第一页
                displayPage(1);//显示第一页

                document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";    // 显示当前多少页
                document.getElementById("sjzl").innerHTML="数据总量 " + len + "";        // 显示数据量
                document.getElementById("pageSize").value = pageSize;

               

                $("#btn1").click(function firstPage(){    // 首页
                    curPage=1;
                    direct = 0;
                    displayPage();
                });
                $("#btn2").click(function frontPage(){    // 上一页
                    direct=-1;
                    displayPage();
                });
                $("#btn3").click(function nextPage(){    // 下一页
                    direct=1;
                    displayPage();
                });
                $("#btn4").click(function lastPage(){    // 尾页
                    curPage=page;
                    direct = 0;
                    displayPage();
                });
                $("#btn5").click(function changePage(){    // 转页
                    curPage=document.getElementById("changePage").value * 1;
                    if (!/^[1-9]\d*$/.test(curPage)) {
                        alert("请输入正整数");
                        return ;
                    }
                    if (curPage > page) {
                        alert("超出数据页面");
                        return ;
                    }
                    direct = 0;
                    displayPage();
                });

               
                $("#pageSizeSet").click(function setPageSize(){    // 设置每页显示多少条记录
                    pageSize = document.getElementById("pageSize").value;    //每页显示的记录条数
                    if (!/^[1-9]\d*$/.test(pageSize)) {
                        alert("请输入正整数");
                        return ;
                    }
                    len =$("#mytable tr").length - 1;
                    page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
                    curPage=1;        //当前页
                     direct=0;        //方向
                     firstPage();
                });
            });

            function displayPage(){
                if(curPage <=1 && direct==-1){
                    direct=0;
                    alert("已经是第一页了");
                    return;
                } else if (curPage >= page && direct==1) {
                    direct=0;
                    alert("已经是最后一页了");
                    return ;
                }

                lastPage = curPage;

                // 修复当len=1时，curPage计算得0的bug
                if (len > pageSize) {
                    curPage = ((curPage + direct + len) % len);
                } else {
                    curPage = 1;
                }

               
                document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";        // 显示当前多少页

                begin=(curPage-1)*pageSize + 1;// 起始记录号
                end = begin + 1*pageSize - 1;    // 末尾记录号

               
                if(end > len ) end=len;
                $("#mytable tr").hide();    // 首先，设置这行为隐藏
                $("#mytable tr").each(function(i){    // 然后，通过条件判断决定本行是否恢复显示
                    if((i>=begin && i<=end) || i==0 )//显示begin<=x<=end的记录
                        $(this).show();
                });

             }
    </script>
{% endblock %}
