{% extends "base.html" %}
{% block title %}TCBS自动化运维平台{% endblock %}
{% block nav %}
    <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-dashboard"></i> 仪表盘<span class="sr-only">(current)</span></a></li>
    {% comment %}
    <li><a href="{% url 'asset_list' %}"><i class="glyphicon glyphicon-th-list"></i> 主机列表</a></li>
    <li><a href="{% url 'repair_data' %}"><i class="glyphicon glyphicon-repeat"></i> 数据修复</a></li>
    <li><a href="{% url 'record_list' %}"><i class="glyphicon glyphicon-floppy-disk"></i> 操作记录</a></li>
    {% endcomment %}
    <li><a href="{% url 'deploy' %}"><i class="glyphicon glyphicon-th-large"></i> SaltStack</a></li>
    <li><a href="{% url 'keys_show' %}"><i class="glyphicon glyphicon-tags"></i> MinionKeys</a></li>
    <li class="active"><a href="{% url 'navigation_list' %}"><i class="glyphicon glyphicon-list"></i> 页面导航</a></li>
{% endblock %}
{% block content %}
<!-- 代码 开始 -->
<!--
        <div class="header">
                <h1>正式环境</h1>
                <div class="controls">
                        <span class="down" title="Scroll down"></span>
                        <span class="up" title="Scroll up"></span>
                        <span class="next" title="向右滚动"></span>
                        <span class="prev" title="向左滚动"></span>
                        <span class="toggle-view" title="切换滚动方式"></span>
                </div>
        </div>
-->
<!--
<h5 class="page-header">
    <ol class="breadcrumb">
        <li class="active">正式环境</li>
    </ol>
</h5>

<div class="content clearfix">
        <div class="items">
                <a class="box" href="http://www.ag8.com/" "><i class="glyphicon glyphicon-list"></i><span>B79_NEW_WEB</span></a>
                <a class="box" href="http://office.ag288.net/" "><span>B79_OFFICE</span></a>
                <a class="box" href="http://gdc.ag288.net/" "><span>GDC</span></a>
                <a class="box" href="http://www.ag138.com" "><span>P02_NEW_WEB</span></a>
                <a class="box" href="http://office.ag138.net/" "><span>P02_OFFICE</span></a>
                <a class="box" href="http://gdc2.ag288.net/" "><span>GDC_OLD</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://www.agsun0.com" "><span>P02_WEB</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://zxzf.ag138.net/" "><span>ZXZF</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://cash.ag288.net/" "><span>CASH</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://message.ag138.net/" "><span>MESSAGE</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://gdc.agingames.com:8083/" "><span>HK_GDC</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://data.agingames.com/" "><span>AGIN_data</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>

                <a class="box" href="http://www.ag8vip.com" "><span>B79_VIP_WEB</span><img class="cover" src="/static/img/navigation/images/ag8vip.png" /></a>
                <a class="box" href="http://www.ag138vip.com" "><span>P02_VIP_WEB</span><img class="cover" src="/static/img/navigation/images/ag138vip.png" /></a>
                <a class="box" href="http://ag8.ag" "><span>B79_MOBILE</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://ag9.ag" "><span>ag9.ag</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://agg88.ag" "><span>agg88.ag</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://bbs.ag8.com/" "><span>B79_BBS</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://bbs.ag138.com/" "><span>P02_BBS</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://www.aggtop.com/" "><span>B79_FENGCAI</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://sight.ag138.com/" "><span>YT_SIGHT</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://www.agaff.com/" "><span>P02_PARTNER</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://www.totalcrest.com/" "><span>TOTALCREST</span><img class="cover" src="/static/img/navigation/images/totalcrest.png" /></a>
                <a class="box" href="http://www.ytbrand.hk/" "><span>www.ytbrand.hk</span><img class="cover" src="/static/img/navigation/images/ytbrand.png" /></a>
                <a class="box" href="http://www.topcrown.tw/" "><span>www.topcrown.tw</span><img class="cover" src="/static/img/navigation/images/topcrown.png" /></a>
        </div>
</div>
-->
<!--
<div class="header">
        <h1>测试环境</h1>
        <div class="controls">
                <span class="down" title="Scroll down"></span>
                <span class="up" title="Scroll up"></span>
                <span class="next" title="向右滚动"></span>
                <span class="prev" title="向左滚动"></span>
                <span class="toggle-view" title="切换滚动方式"></span>
        </div>
</div>

<h5 class="page-header">
    <ol class="breadcrumb">
        <li class="active">测试环境</li>
    </ol>
</h5>

<div class="content clearfix">
        <div class="items">
                <a class="box" href="http://uatwww.ag288.com/"><span>UAT_B79_NEW_WEB</span><img class="cover" src="/static/img/navigation/images/ag8.jpg" /></a>
                <a class="box" href="http://uatoffice.ag288.com/" style="background: #6b6b6b;"><span>UAT_B79_OFFICE</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://uatgdc.ag288.com/" style="background: #6b6b6b;"><span>UAT_GDC</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://uatwww.agg013.com/" style="background: #f58d00;"><span>UAT_P02_NEW_WEB</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatoffice.agg013.com/" style="background: #6b6b6b;"><span>UAT_P02_OFFICE</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://uatzxzfws.agg013.com/" style="background: #6b6b6b;"><span>UAT_ZXZF</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://uatv1.agg013.com/" style="background: #f58d00;"><span>UAT_P02_WEB</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatcash.ag288.com/" style="background: #6b6b6b;"><span>UAT_CASH</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://uatmessage.ag288.com/" style="background: #6b6b6b;"><span>UAT_MESSAGE</span><img class="icon" src="/static/img/navigation/images/settings.png" /></a>
                <a class="box" href="http://uatvip.ag288.com/" style="background: #f58d00;"><span>UAT_B79_VIP_WEB</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatvip.agg013.com/" style="background: #f58d00;"><span>UAT_P02_VIP_WEB</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatm.ag288.com/" style="background: #f58d00;"><span>UAT_B79_MOBILE</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatoldm.ag288.com/" style="background: #f58d00;"><span>UAT_B79_OLD_MOBILE</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatm.agg013.com/" style="background: #f58d00;"><span>UAT_P02_MOBILE</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatbbs.ag288.com/" style="background: #f58d00;"><span>UAT_B79_BBS</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatbbs.agg013.com/" style="background: #f58d00;"><span>UAT_P02_BBS</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatfc.ag288.com/" style="background: #f58d00;"><span>UAT_B79_FENGCAI</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatsight.agg013.com/" style="background: #f58d00;"><span>UAT_YT_SIGHT</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatpartner.agg013.com/" style="background: #f58d00;"><span>UAT_P02_PARTNER</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatwww.totalcrest.com/" style="background: #f58d00;"><span>UAT_TOTALCREST</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
                <a class="box" href="http://uatwww.topcrown.tw/" style="background: #f58d00;"><span>uatwww.topcrown.tw</span><img class="icon" src="/static/img/navigation/images/firefox.png" /></a>
        </div>
</div>
<div class="header">
        <h1>运维专用</h1>
        <div class="controls">
                <span class="down" title="Scroll down"></span>
                <span class="up" title="Scroll up"></span>
                <span class="next" title="向右滚动"></span>
                <span class="prev" title="向左滚动"></span>
                <span class="toggle-view" title="切换滚动方式"></span>
        </div>
</div>
-->
<h5 class="page-header">
    <ol class="breadcrumb">
        <li class="active">运维专用</li>
    </ol>
</h5>

<div class="content clearfix">
        <div class="items">
                <a class="box" href="http://172.20.0.184:8090/" "><span>WIKI</span></a>
                <a class="box" href="http://zabbix.ag866.com" "><span>zabbix</span></a> 
                <a class="box" href="http://sa.agg013.com/" "><span>SA WorkPage</span></a> 
        </div>
</div>
<!-- 代码结束 -->
<div class="row">
    <div class="col-sm-9" id="tb_minion">
    <!-- <table id="mytable" align="center"> -->
        <table id="mytable" class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="success">
                    <th class="text-center">
                        <label class="checkbox-inline">
                            <input id="checkall" type="checkbox" value="checkall" oncl"checkAll(checkall)">全选
                        </label>
                    </th>
                    <th class="text-center">product</th>
                    <th class="text-center">abbr</th>
                    <th class="text-center">domain</th>
                    <th class="text-center">record</th>
                </tr>
            </thead>
                <tbody id="trtd">
                    {% if domains %}
                        {% for domain in domains %}
                                <tr id="{{ abbr }}">
                                    <td class="text-center">
                                        <label>
                                            <input name="abbr" type="checkbox" va"{{ abbr }}">
                                        </label>
                                    </td>
                                    <td class="text-center">{{ domain.product }}</td>
                                    <td class="text-center">{{ domain.abbr }}</td>
                                    <td class="text-center">{{ domain.domain }}</td>
                                    <td class="text-center">{{ domain.record }}</td>
                                </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
    <div class="col-sm-9">
        <!-- 分页展示 BEGIN -->
    <a id="btn0"></a>
    <input id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"/ 条 </a> <a href="#" id="pageSizeSet">设置</a> 
    <a id="sjzl"></a> 
    <a  href="#" id="btn1">首页</a>
    <a  href="#" id="btn2">上一页</a>
    <a  href="#" id="btn3">下一页</a>
    <a  href="#" id="btn4">尾页</a> 
    <a>转到 </a>
    <input id="changePage" type="text" size="1" maxlength="4"/>
    <a>页 </a>
    <a  href="#" id="btn5">跳转</a>
        <!-- 分页展示 END -->
    </div>
        </table>
    </div>
</div>
<script type="text/javascript">
            var pageSize = 10;    //每页显示的记录条数
             var curPage=0;        //当前页
             var lastPage;        //最后页
             var direct=0;        //方向
            var len;            //总行数
            var page;            //总页数
            var begin;
            var end;

               
            $(document).ready(function display(){  
                len =$("#mytable tr").length - 1;    // 求这个表的总行数，剔除第一行介绍
                page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
                // alert("page==="+page);
                curPage=1;    // 设置当前为第一页
                displayPage(1);//显示第一页

                document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";    // 显示当前多少页
                document.getElementById("sjzl").innerHTML="数据总量 " + len + "";        // 显示数据量
                document.getElementById("pageSize").value = pageSize;

               

                $("#btn1").click(function firstPage(){    // 首页
                    curPage=1;
                    direct = 0;
                    displayPage();
                });
                $("#btn2").click(function frontPage(){    // 上一页
                    direct=-1;
                    displayPage();
                });
                $("#btn3").click(function nextPage(){    // 下一页
                    direct=1;
                    displayPage();
                });
                $("#btn4").click(function lastPage(){    // 尾页
                    curPage=page;
                    direct = 0;
                    displayPage();
                });
                $("#btn5").click(function changePage(){    // 转页
                    curPage=document.getElementById("changePage").value * 1;
                    if (!/^[1-9]\d*$/.test(curPage)) {
                        alert("请输入正整数");
                        return ;
                    }
                    if (curPage > page) {
                        alert("超出数据页面");
                        return ;
                    }
                    direct = 0;
                    displayPage();
                });

               
                $("#pageSizeSet").click(function setPageSize(){    // 设置每页显示多少条记录
                    pageSize = document.getElementById("pageSize").value;    //每页显示的记录条数
                    if (!/^[1-9]\d*$/.test(pageSize)) {
                        alert("请输入正整数");
                        return ;
                    }
                    len =$("#mytable tr").length - 1;
                    page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
                    curPage=1;        //当前页
                     direct=0;        //方向
                     firstPage();
                });
            });

            function displayPage(){
                if(curPage <=1 && direct==-1){
                    direct=0;
                    alert("已经是第一页了");
                    return;
                } else if (curPage >= page && direct==1) {
                    direct=0;
                    alert("已经是最后一页了");
                    return ;
                }

                lastPage = curPage;

                // 修复当len=1时，curPage计算得0的bug
                if (len > pageSize) {
                    curPage = ((curPage + direct + len) % len);
                } else {
                    curPage = 1;
                }

               
                document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";        // 显示当前多少页

                begin=(curPage-1)*pageSize + 1;// 起始记录号
                end = begin + 1*pageSize - 1;    // 末尾记录号

               
                if(end > len ) end=len;
                $("#mytable tr").hide();    // 首先，设置这行为隐藏
                $("#mytable tr").each(function(i){    // 然后，通过条件判断决定本行是否恢复显示
                    if((i>=begin && i<=end) || i==0 )//显示begin<=x<=end的记录
                        $(this).show();
                });

             }
    </script>

{% endblock %}

